<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.abc.wechat.dao.db1.ChatRecordsMapper" >

    <resultMap id="chatRecordsMap" type="com.abc.wechat.entity.ChatMsg" >
        <id column="localId" property="id" jdbcType="INTEGER" />
        <result column="Type" property="type" jdbcType="INTEGER" />
        <result column="IsSender" property="isSender" jdbcType="INTEGER" />
        <result column="CreateTime" property="createTime" jdbcType="INTEGER" />
        <result column="StrTalker" property="sender" jdbcType="LONGVARCHAR" />
        <result column="StrContent" property="content" jdbcType="LONGVARCHAR" />
        <result column="BytesExtra" property="extra" jdbcType="BLOB" />
    </resultMap>


    <sql id="chatRecordsColumns" >
        `localId`, `Type`, `IsSender`, `CreateTime`, `StrTalker`, `StrContent`, `BytesExtra`
    </sql>


    <select id="selectAllMsg" resultMap="chatRecordsMap"  >
        SELECT
        <include refid="chatRecordsColumns" />
        FROM `MSG`
    </select>

</mapper>